{% extends 'base.html' %}

{% block title %}{{ course.name }} tafsilotlari{% endblock %}

{% block content %}
    {% if perms.myproject.change_course %}
    <h2>Kurs: {{ course.name }}</h2>
    <hr>

    <h3>Ushbu kurs talabalari:</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>F.I.SH</th>
                <th>Birth date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.full_name }}</td>
                <td>{{ student.birth_date }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    <br>
    <a href="{% url 'home' %}">Bosh sahifaga qaytish</a>
{% endblock %}